<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<%= session[:user] %>
	<% if current_user.nil? %>
		<div class="login_button">
			<form action="/signin" action="get">
				<input type="text" name="name" placeholder="ユーザー名"><br>
				<input type="password" name="password" placeholder="パスワード"><br>
				<input type="submit" value="Sign in">
			</form>
		</div>
	<% end %>
	
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>
	<% if !@posts.nil? %>
		<% logger.info(@posts.length) %>
		<% @posts.each do |post| %>
			<% if !post.id.nil? %>
				<div class="post center-vertical">
					<img src="<%= post["image_url"] %>" width="125" height="125">
					<p>アーティスト: <%= post["artist"] %></p>
					<p>アルバム: <%= post["album"] %></p>
					<p>曲名: <%= post["music"] %></p>
					<p><a href="<%= post["sample"] %>">サンプル</a></p>
					<p>コメント: <%= post["comment"] %></p>
					<p>投稿者: <%= post.user["name"] %></p>
					<p>いいねしたユーザー: </p>
					<% post.likes.each do |like_user| %>
						<a href="/mypage"><img src="<%= like_user.user.user_image_url %>" alt="user_image" width="40" height="40"></a>
					<% end %>
					<% if post.likes.find_by(user_id: session[:user]).nil? %>
						<a href="post/<%= post.id %>/like">いいねする</a>
					<% else %>
						<a href="post/<%= post.id%>/unlike">いいね解除する</a>
					<% end %>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<p>投稿がありません</p>
	<% end %>
</section>
